<?php

/**
 * @file
 * Contains Drupal\{{ module }}\ThemeBuilders\{{ class_name }}.
 */

namespace Drupal\{{ module }}\ThemeBuilders;

use Drupal\{{ module }}\ThemeBuilders\generated\{{ class_name }}Base;

/**
 * The {{ theme_name }} theme builder.
 */
class {{ class_name }} extends {{ class_name }}Base {
}
